.navbar {
  background: linear-gradient(135deg, #F9F5F6, #F8E8EE);
  padding: 16px 32px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.navbar-link {
  font-size: 20px;
  font-weight: 700;
  color: #020202;
  cursor: pointer;
  text-decoration: none;
}